.svg-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  padding: 15px;
  fill: #aaa;
  background-color: #f9f9f9;
  vertical-align: top;
}

.child-svg-icon {
  background-color: initial;
  fill: #000;
  width: 43px;
}

.horizontal-menu {
  .svg-icon {
    background-color: initial;
  }
}

.v-input.dialog-input {
  .v-input__append-outer {
    margin-top: 0px !important;
  }
}

.modal-card {
  .search-form {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    overflow-y: hidden !important;
  }
  .v-select {
    padding-right: 10px !important;
  }
  .dialog-input {
    .v-btn {
      height: 39px;
    }
  }
}
