body {
  font-family: 'Nanum Gothic';
}

.v-application a {
  color: inherit !important;
  text-decoration: inherit;
}

.v-application a.is-active {
  color: #ff5252 !important
}

.v-breadcrumbs {
  padding-left: 10px !important;
}

.v-breadcrumbs .breadcrumbs-home {
  cursor: pointer;
}

.v-breadcrumbs li {
  font-size: 15px;
}

.v-subheader .filter-title {
  font-size: 24px;
  font-weight: 700;
}

.v-input {
  font-size: 14px !important;
}

.mx-input {
  height: 40px !important;
}

.v-btn .v-icon {
  padding-right: 15px;
}