.boxed-layout {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-right: 17rem;
  padding-left: 17rem;
}

.boxed-header {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.v-main {
  /* padding: 64px 0px 0px 256px !important; */
  min-height: calc(100vh - 204px);
  overflow-y: auto;
}

.v-main__wrap {
  background-color: #FAFAFA;
}

.v-footer {
  position: relative;
  min-height: 100%;
  transition: padding-left .28s;
  padding-left: 250px;
}

.v-dialog > .v-card > .v-card__title {
  padding: 6px 14px 0px !important;
}

.v-application a {
  color: inherit !important;
  text-decoration: inherit;
}

.v-application a.is-active {
  color: #ff5252 !important
}

.v-breadcrumbs {
  padding-left: 10px !important;
}

.v-breadcrumbs .breadcrumbs-home {
  cursor: pointer;
}

.v-breadcrumbs li {
  font-size: 15px;
}

.v-subheader {
  padding-top: 5px;
}

.v-subheader .filter-title {
  font-size: 24px;
  font-weight: 700;
}

.v-input {
  font-size: 14px !important;
}

.mx-input-wrapper {
  width: 286px;
}

.mx-input {
  height: 40px !important;
}

.v-btn .v-icon {
  padding-right: 15px;
}

.alert-headline {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.alert-contents {
  margin-top: 15px;
  font-weight: 700;
}