.theme--dark.v-card {
  background-color: $default-dark-theme;
  color: $base-light !important;
}

.theme--dark.v-data-table {
  background-color: $dark-table-theme !important;
  color: $base-light !important;
  border: 1px solid rgb(0 0 0 / 38%);
}

.theme--dark.v-navigation-drawer {
  background-color: #272727;
  .child-svg-icon {
    fill: $base-light;
  }
  .svg-icon {
    color: $base-light;
    background-color: $init;
  }
}

//* Horizon Menu 다크테마 적용 시
.horizontal-menu.dark-theme {
  background-color: $default-dark-theme;
  >ul {
     >li.nav-item {
       >a {
        .prefix-dashboard {
           color: $base-light !important;
        }
       }
     }
     >li {
     >a {
        &:hover {
           background-color: $gray-dark;
        }
        .svg-icon {
           color: $base-light;
        }
        .menu-title {
           color: $base-light !important;
           &::after {
            content: url('https://api.iconify.design/bytesize:chevron-bottom.svg?height=12&color=%23fff');
            padding-right: 5px;
           }
        }
     }
     .sub-menu {
        background-color: $default-dark-theme;
        li.nav-item {
          >a {
            &::after {
              color: $base-light;
            }
            &:hover {
              background-color: $gray-dark;
            }
          }
        }
        .nest-child li.nav-item {
          >a {
            &:hover {
              background-color: $gray-dark;
            }
          }
       }
      .is-active {
        color: $danger !important;
      }
      a {
        color: $base-light !important;
      }
     }
  }
}}
