//* 기본 다크테마
.theme--dark.v-navigation-drawer {
  background-color: $default-dark-theme;
  .child-svg-icon {
    fill: $base-light;
  }
  .svg-icon {
    color: $base-light;
    background-color: $init;
  }
}

//* 세미 다크테마
.vertical-menu.semi-dark-theme {
  .primary--text {
    color: #2196f3 !important;
    caret-color: #2196f3 !important;
  }
  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: $white !important;
  }
  .v-icon {
    color: $white;
  }
  .child-svg-icon {
    fill: $base-light;
  }
  .svg-icon {
    color: $base-light;
    background-color: $init;
  }
  .side-logo {
    background-color: $dark-logo;
  }
  .v-divider {
    border-color: hsla(0,0%,100%,.12);
  }
}

//* Horizon Menu 다크테마 적용 시
.horizontal-menu.dark-theme, .horizontal-menu.semi-dark-theme {
  border-top: 1px solid #68686e;
}
.horizontal-menu.dark-theme, .semi-dark-theme {
  background-color: $default-dark-theme !important;
  >ul {
     >li.nav-item {
       >a {
        .prefix-dashboard {
           color: $base-light !important;
        }
        .v-icon {
          color: $gray-light;
        }
       }
     }
     li.sub-menu-parent {
        a {
          .v-icon {
            color: $gray-light;
          }
        }
     }
     >li {
     >a {
        &:hover {
           background-color: $gray-dark;
           height: 48px;
        }
        .svg-icon {
           color: $base-light;
        }
        .menu-title {
           color: $base-light !important;
           &::after {
            content: url('https://api.iconify.design/bytesize:chevron-bottom.svg?height=12&color=%23fff');
            padding-right: 5px;
           }
        }
     }
     .sub-menu {
        background-color: $default-dark-theme;
        border-top: 1px solid #68686e;
        top: 48px;
        li.nav-item {
          >a {
            &::after {
              color: $base-light;
            }
            &:hover {
              background-color: $gray-dark;
            }
          }
        }
        .nest-child li.nav-item {
          >a {
            &:hover {
              background-color: $gray-dark;
            }
          }
       }
      .is-active {
        color: $danger !important;
      }
      a {
        color: $base-light !important;
      }
     }
  }
}}

.theme--dark.v-card {
  background-color: $default-dark-theme;
  color: $base-light !important;
}

.theme--dark.v-data-table {
  background-color: $dark-table-theme !important;
  color: $base-light !important;
  border: 1px solid rgb(0 0 0 / 38%);
}

.theme--dark.v-app-bar.v-toolbar {
  .profile p {
     color: $base-light;
  }
}
