@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

body {
  background-color: $body;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.35;
  height: 100%;
  overflow-x: hidden;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

//* 툴바 기본 비율 90%
.app-toolbar {
  zoom: 90%;
}

.page-wrapper.page-header.horizon {
  margin-top: 50px;
}

//* 네비게이션 드로우 기본 비율 90%
.v-navigation-drawer {
  zoom: 90%;
  height: 100% !important;
  box-shadow: $app-shadow-box;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: $white;
  color: $dark;
}

.svg-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  padding: 15px;
  fill: #aaa;
  background-color: #f9f9f9;
  vertical-align: top;
}

.child-svg-icon {
  background-color: initial;
  fill: #000;
  width: 43px;
}

.horizontal-menu {
  .svg-icon {
    background-color: initial;
  }
}

.v-input.dialog-input {
  .v-input__append-outer {
    margin-top: 0px !important;
  }
}

.modal-card {
  .search-form {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    overflow-y: hidden !important;
  }
  .v-select {
    padding-right: 10px !important;
  }
  .dialog-input {
    .v-btn {
      height: 39px;
    }
  }
}

.v-card {
  border-radius: 10px !important;
  box-shadow: $app-shadow-box !important;
}

.mdi-sub-icon {
  font-size: 18px !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
